@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  :root {
    font-family: tahoma, system-ui;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  li, button, a, article{
    transition: 0.3s;
  }

  /* .container{
    padding: 150px 20px 70px;
    min-height: 80vh;
    max-width: 1400px;
    margin: auto;
  } */

}
